<div id="welcome">
  <span>Welcome, </span><input type="text" ng-disabled="true" ng-show="currentUser" ng-model="currentUser">
  <span ng-hide="currentUser">Guest</span>
</div>
<a ng-show="currentUser" ng-click="logout()" href="#/logout">Sign out</a>
<p>
  Drop your questions <a href="#/post">here</a><a ng-hide="currentUser" href="#/login"> login</a> to contribute answers.
</p>
<div id="filterBar">
  <input class="form-control" id="feedFilter" placeholder="Search with keywords" ng-model="refine">
  <a href="#/post"><input id="btnPostNew" class="btn btn-default contributionButton" type="button" value="I'll Post My Question"></a>
</div>
<div id="feedContainer">
  <div id="questionsContainer" ng-repeat="question in questions | filter:refine">
    <div class="question">
      <h4 ng-bind="question.content"></h4>
      <em>
        <span>Posted by </span><span ng-bind="question.author"></span>
        <span> on </span><span ng-bind="question.posted"></span>
      </em>
      <div class="reviewDiv">
        <span class="review" ng-show="question.answers > 0">
          <a class="showAnswers" href="">
            <span>contributions </span><span ng-bind="question.answers"></span>
          </a>
        </span>
      </div>
    </div>
    <div id="answer{{$index}}" ng-repeat="answer in answers[$index] | orderBy:'-likes'" class="container-fluid answer">
      <h5 ng-bind="answer.content"></h5>
      <em>
        <span>by </span><span ng-bind="answer.author"></span>
        <span> on </span><span ng-bind="answer.posted"></span>
        <div class="reviewDiv">
          <span class="review"> <a href="">Yeah!</a></span><span ng-bind="answer.likes"></span>
          <span class="review okay"> <a href="">Okay</a></span><span ng-bind="answer.okays"></span>
          <span class="review wrong"> <a href="">No!</a></span><span ng-bind="answer.dislikes"></span>
        </div>
      </em>
    </div>
    <div ng-show="currentUser" id="contributionContainer" class="container-fluid">
      <form id="contributionForm">
        <textarea class="form-control contribution" name="textarea" placeholder="Add your contribution."></textarea>
        <button class="btn btn-default contributionButton">Submit Contribution</button>
      </form>
    </div>
  </div>
</div>